<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GrinGlobal.Search.Engine.Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- __CONNECTIONSTRING__ -->
    <!-- __COMMENT__ -->
    <add providerName="sqlserver" name="DataManager" connectionString="Data Source=localhost\sqlexpress;Database=gringlobal;Integrated Security=SSPI" />
    <!-- __ENDCOMMENT__ -->

    <!-- 
    <add providerName="oracle" name="DataManager" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(PORT=1521)(HOST=127.0.0.1))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id='gg_search';password='gg_search_PA55w0rd!'" />
    <add providerName="mysql" name="DataManager" connectionString="Data Source=localhost;Database=gringlobal;User Id=gg_user;password=gg_user_PA55w0rd!;Connection Timeout=10;Pooling=true;Protocol=socket;Port=3306;" />
    <add providerName="postgresql" name="DataManager" connectionString="Server=localhost;Port=5432;Database=gringlobal;User Id=gg_user;password=gg_user_PA55w0rd!" />

    -->
  </connectionStrings>
  <appSettings>

    <!-- database connectivity -->
    <add key="DataManagerCommandTimeout" value="300"/>

    <!-- logging -->
    <add key="EventLogSourceName" value="GrinGlobal.Search.Engine"/>
    <add key="LogFile" value="~/logs/GrinGlobal.log" />

    <!-- search engine -->
    <add key="SearchEngineConfigFile" value="~/gringlobal.search.config" />
    <add key="MaximumItemCount" value="100000" />
    <add key="DisablePrecaching"  value="false"/>

    <!-- search engine client (for installer) -->
    <!-- "http" or "pipe" or "tcp"; tcp does NOT use WCF -->
    <add key="SearchEngineBindingType" value="pipe"/>

    <!-- typically "http://localhost:2011/searchhost", "net.pipe://localhost/searchhost", or "tcp://localhost:2012/searchhost" -->
    <add key="SearchEngineBindingUrl" value="net.pipe://localhost/searchhost"/>

    <!-- in minutes -->
    <add key="SearchEngineSendTimeout" value="1.0"/>

    <!-- in minutes -->
    <add key="SearchEngineReceiveTimeout" value="10.0"/>

    <!-- 
    <add key="SearchEngineBindingUrl" value="net.pipe://localhost/searchhost"/>
    <add key="SearchEngineBindingUrl" value="http://localhost:2011/searchhost"/>
    <add key="SearchEngineBindingUrl" value="tcp://localhost:2012/searchhost"/>
    -->
    
  </appSettings>



  <!-- can't get things to work?  see here:  
      http://blogs.msdn.com/anirbanc/archive/2008/05/14/wcf-error-http-could-not-register-url-http-8000-your-process-does-not-have-access-rights-to-this-namespace.aspx
  -->
  <system.serviceModel>
    <services>
      <service name="GrinGlobal.Search.Engine.Hosting.SearchHost" behaviorConfiguration="SearchHostBehavior">
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2011/searchhost"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SearchHostBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SearchHostBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <!-- tracing -->
  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel"
    switchValue="Information, ActivityTracing"
    propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData=".\shared.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  -->
  <applicationSettings>
    <GrinGlobal.Search.Engine.Tester.Properties.Settings>
      <setting name="GrinGlobal_Search_Engine_Tester_guitest_GUI" serializeAs="String">
        <value>http://localhost:2600/GrinGlobal/GUI.asmx</value>
      </setting>
      <setting name="GrinGlobal_Search_Engine_Tester_ggtest_gg" serializeAs="String">
        <value>http://localhost:2600/GrinGlobal/gg.asmx</value>
      </setting>
    </GrinGlobal.Search.Engine.Tester.Properties.Settings>
  </applicationSettings>
</configuration>
