<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!-- connection string for oracle
    <add providerName="oracle" name="oracle_connection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.100.146.29)(PORT=1521))(CONNECT_DATA=(SID=NPGS)));User Id=nc7bw;Password=sunpasswd"/>
 -->
    <!-- connection string for mysql
    <add providerName="MySql.Data" name="mysql_connection" connectionString="Data Source=mw25pi-grin-t1;Database=prod;User Id=test_user;Password=passw0rd!"/>
 -->
    <!-- connection string for sql server
    <add providerName="sqlclient" name="sqlserver_connection" connectionString="Data Source=mw25pi-grin-t1;Initial Catalog=prod;User Id=test_user;Password=passw0rd!"/>
 -->

    <!-- built-in sql server provider
    -->
    <add providerName="sqlserver" name="sqlserverdbhere" connectionString="Data Source=mw25pi-grin-t1;Initial Catalog=test_db;User Id=test_user;Password=passw0rd!"/>

    <!-- built-in oracle provider (requires ODP be installed: http://www.oracle.com/technology/software/htdocs/odtlic.html?url=/technology/software/tech/dotnet/utilsoft.html ) 
      http://www.microsoft.com/downloads/details.aspx?FamilyId=4F55D429-17DC-45EA-BFB3-076D1C052524&displaylang=en
         see http://www.dotnetjunkies.com/WebLog/thedotnetarchitect/archive/2005/11/11/133698.aspx for more info
    -->

         <add providerName="oracle" name="oracledbhere" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mbpxp)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=TEST_USER;Password=passw0rd!"/>

    <add providerName="oracle" name="oracle_test_db_here" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mw25pi-temp03-f.visitor.iastate.edu)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=PROD;Password=passw0rd!"/>

    <!-- any 3rd party mysql provider
     -->
         <add providerName="MySql.Data" name="mysqldbhere" connectionString="Data Source=mbpxp;Database=test_db;User Id=test_user;Password=passw0rd!"/>
    <add providerName="sqlite" name="sqlitedbhere" connectionString="Data Source=test_db.db;Version=3"/>

    <!-- any 3rd party pgsql provider
     -->
    <add providerName="Npgsql" name="pgsqldbhere" connectionString="Server=mbp;Port=5432;Database=test_db;Userid=test_user;Password=passw0rd!;Protocol=3;SSL=false;Pooling=true;MinPoolSize=1;MaxPoolSize=20;Encoding=UNICODE;Timeout=15;SslMode=Disable;"/>

    <!-- any 3rd party sybase provider
    <add providerName="DDTek.Sybase" name="sybasedbhere" connectionString="host=mbpxp;port=5000;User Id=sa;Password=;Database Name=test_db"/>
    -->
    
    <!-- any 3rd party oracle driver: example here is from http://crlab.com/oranet/download.html
    <add providerName="CoreLab.Oracle" name="ThirdPartyOracleDllNameHere" connectionString="User ID=TEST_USER;Password=passw0rd!;Host=mbpxp;Pooling=true;Min Pool Size=0;Max Pool Size=100;Connection Lifetime=0;" />
     -->

  </connectionStrings>
  <appSettings>
    <!--
    <add key="MySql.Data:MapAs" value="mysql"/>
    <add key="MySql.Data:Command" value="MySql.Data.MySqlClient.MySqlCommand"/>
    <add key="MySql.Data:Connection" value="MySql.Data.MySqlClient.MySqlConnection"/>
    <add key="MySql.Data:Parameter" value="MySql.Data.MySqlClient.MySqlParameter"/>
    <add key="MySql.Data:DataAdapter" value="MySql.Data.MySqlClient.MySqlDataAdapter"/>
    

    <add key="Npgsql:MapAs" value="postgresql"/>
    <add key="Npgsql:Command" value="Npgsql.NpgsqlCommand"/>
    <add key="Npgsql:Connection" value="Npgsql.NpgsqlConnection"/>
    <add key="Npgsql:Parameter" value="Npgsql.NpgsqlParameter"/>
    <add key="Npgsql:DataAdapter" value="Npgsql.NpgsqlDataAdapter"/>

    <add key="CoreLab.Oracle:MapAs" value="oracle"/>
    <add key="CoreLab.Oracle:Command" value="CoreLab.Oracle.OracleCommand"/>
    <add key="CoreLab.Oracle:Connection" value="CoreLab.Oracle.OracleConnection"/>
    <add key="CoreLab.Oracle:Parameter" value="CoreLab.Oracle.OracleParameter"/>
    <add key="CoreLab.Oracle:DataAdapter" value="CoreLab.Oracle.OracleDataAdapter"/>

    <add key="DDTek.Sybase:MapAs" value="sybase"/>
    <add key="DDTek.Sybase:Command" value="DDTek.Sybase.SybaseCommand"/>
    <add key="DDTek.Sybase:Connection" value="DDTek.Sybase.SybaseConnection"/>
    <add key="DDTek.Sybase:Parameter" value="DDTek.Sybase.SybaseParameter"/>
    <add key="DDTek.Sybase:DataAdapter" value="DDTek.Sybase.SybaseDataAdapter"/>
    
    -->

  </appSettings>
</configuration>