<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrinGlobal.Updater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <GrinGlobal.Updater.Properties.Settings>
            <setting name="GrinGlobal_Updater_GUISvc_GUI" serializeAs="String">
                <value>http://localhost:2600/GrinGlobal/gui.asmx</value>
            </setting>
        </GrinGlobal.Updater.Properties.Settings>
    </applicationSettings>
</configuration>