<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <netNamedPipeBinding>
          <binding maxReceivedMessageSize="2147483647"
                   maxBufferPoolSize="2147483647"
                   name="netnamedpipebind"
                   transferMode="StreamedResponse"
                 >
            <readerQuotas maxDepth="2147483647"
                                 maxArrayLength="2147483647"
                                 maxBytesPerRead="2147483647"
                                 maxNameTableCharCount="2147483647"
                                 maxStringContentLength="2147483647" />
            <security mode="None"></security>
          </binding>
        </netNamedPipeBinding>
      </bindings>
      <behaviors>
            <serviceBehaviors>
                <behavior name="GrinGlobal.Search.Engine.SearchHostBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="GrinGlobal.Search.Engine.SearchHostBehavior"
                name="GrinGlobal.Search.Engine.SearchHost">
              <endpoint address="net.pipe://localhost/SearchHost" binding="netNamedPipeBinding" contract="GrinGlobal.Search.Engine.ISearchHost" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/GrinGlobal.Search.Engine/SearchHost/" />
                    </baseAddresses>
                </host>
            </service>
        </services>

<!--
      <services>
        <service name="SearchHostService" behaviorConfiguration="MEX">
          <host>
            <baseAddresses>
              <add baseAddress="net.pipe://localhost/"/>
            </baseAddresses>
          </host>
          <endpoint address="MEX"
                    binding="mexNamedPipeBinding"
                    contract="IMetadataExchange"
          />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="MEX">
            <serviceMetadata />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
    -->
      <!--
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="GrinGlobal.Search.Engine.Service1Behavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="GrinGlobal.Search.Engine.Service1Behavior"
                name="GrinGlobal.Search.Engine.Service1">
                <endpoint address="" binding="wsHttpBinding" contract="GrinGlobal.Search.Engine.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/GrinGlobal.Search.Engine/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      -->
      </system.serviceModel>
</configuration>
