<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- connection string for mysql -->
    <!--
    <add providerName="MySql.Data" name="DataManager" connectionString="Data Source=10.11.52.66;Database=prod;User Id=test_user;password=passw0rd!" />
    <add providerName="MySql.Data" name="DataManager" connectionString="Data Source=192.100.146.178;Database=prod;User Id=test_user;password=passw0rd!" />
    -->
    <add providerName="MySql.Data" name="DataManager" connectionString="Data Source=mw25pi-grin-t1.visitor.iastate.edu;Database=prod;User Id=test_user;Password=passw0rd!"/>
  </connectionStrings>
  <appSettings>
    <add key="CacheManager" value="Enabled"/>
    <add key="MySql.Data:MapAs" value="mysql"/>
    <add key="MySql.Data:Command" value="MySql.Data.MySqlClient.MySqlCommand"/>
    <add key="MySql.Data:Connection" value="MySql.Data.MySqlClient.MySqlConnection"/>
    <add key="MySql.Data:Parameter" value="MySql.Data.MySqlClient.MySqlParameter"/>
    <add key="MySql.Data:DataAdapter" value="MySql.Data.MySqlClient.MySqlDataAdapter"/>
  </appSettings>
</configuration>