<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrinGlobal.WebService.TestHarness.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GrinGlobal.WebService.TestHarness.Properties.Settings>
            <setting name="GrinGlobal_WebService_TestHarness_ggws_GUI" serializeAs="String">
              <value>http://localhost:2600/GUI.asmx</value>
              <!-- <value>http://mw25pi-grin-t1.visitor.iastate.edu/gringlobal/GUI.asmx</value>-->
              <!-- <value>http://localhost:2600/GUI.asmx</value>-->
            </setting>
        </GrinGlobal.WebService.TestHarness.Properties.Settings>
    </applicationSettings>
</configuration>